/* Popover. */
.popover {
    width: 430px;
    max-width: 700px;
}
.popover-body .grade-to-pass {
    padding-top: 8px;
}
.badge.badge-success {
    background-color: #28a745;
}
/* Progress bars. */
.progress-bar-passed .progress-bar.bar {
    background-color: #28a745;
}
.progress-bar-completed .progress-bar.bar {
    background-color: #ffc107;
}
/* Section line. */
.etask-grade-table.above {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.etask-grade-table.below {
    border-top: 1px solid #dee2e6;
    padding-top: 1rem;
    margin-top: 1rem;
}
/* Grade table. */
.etask-grade-table img.item-ico {
    width: 16px;
    height: 16px;
}
.etask-grade-table th.grade-item-header {
    min-width: 50px;
    height: 35px;
    padding: 8px 5px;
    white-space: nowrap;
}
.etask-grade-table td.user-header {
    min-width: 130px;
    padding-right: 5px;
    white-space: nowrap;
    height: 37px;
}
.etask-grade-table table .text-center {
    text-align: center;
}
.etask-grade-table td a.grade-item-body {
    display: block;
    width: 100%;
}
.etask-grade-table .pointer {
    cursor: pointer;
}
.etask-grade-table .grade-item-dialog {
    opacity: 0.5;
}
.grade-item-dialog i.icon {
    margin: 0 0 0 3px;
}
/* Grade table activity colors. */
.etask-grade-table .completed {
    color: #fff;
    background-color: #ffc107;
}
.etask-grade-table .passed {
    color: #fff;
    background-color: #28a745;
}
.etask-grade-table .failed {
    color: #fff;
    background-color: #dc3545;
}
.etask-grade-table .completed a {
    color: #fff;
}
.etask-grade-table .passed a {
    color: #fff;
}
.etask-grade-table .failed a {
    color: #fff;
}
/* Legend. */
.etask-grade-table .legend {
    line-height: 2.5em;
    text-align: right;
    padding-bottom: 20px;
}
.etask-grade-table .legend span {
    padding: 8px;
    margin-left: 10px;
}
/* Hack of mform. */
.inline-form .form-group {
    margin-left: 0;
}
.inline-form .form-group .col-md-3,
.inline-form .form-group .col-md-9 {
    padding-left: 0;
}
.inline-form .form-group .col-md-3 {
    margin-top: 5px;
}
/* Pagination. */
.etask-grade-table nav ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
}
.grade-table-footer {
    margin-top: 13px;
}
